include dash_crafted_components/dash_crafted_components.min.js
include dash_crafted_components/dash_crafted_components.min.js.map
include dash_crafted_components/metadata.json
include dash_crafted_components/package-info.json
include README.md
include LICENSE
include package.json
